* {
    box-sizing: border-box;
    font-family: 'Merienda', cursive;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 1500px;
    background-color: #0d131f;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

#nav a {
    text-decoration: none;
    color: white;
    padding: 6px 15px;
}
#nav a:hover {
    background-color: #0182ff;
    color: white;
    display: inline;
    padding: 6px 15px;
    border-radius: 5px;
}

#head_logo {
    height: 90px;
    width: 120px;
    background-color: #0d131f;
    margin: 10px 0 10px 80px;
}

h2{
  margin-left: 42%;
  
}
#bak-hom{
  margin-left: 88%;
  background-color: #f2f2f2;
  color: #0182ff;
  padding: 3px 10px;
  font-size: 15px;
  position: relative;
  top: 1px;
  border-radius: 5px;
  text-decoration: none;
}
#bak-hom:hover{
  background-color: #0182ff;
  color: white;
  display: inline;
}
#hed{
  margin-bottom: -9%;
  margin-top: 10%;
}
#hd{
  border: 2px solid black;
  margin-top: 6.8%;
  width: 1475px;
  height: 30px;
}
.row{
  width: 170%;
}
 input{
    height: 30px;
    width: 250px;
    border-width: 0px;
    padding: 5px;
 }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #0182ff;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 8%;
    font-size: 20px;
  }
  
  input[type=submit]:hover {
    background-color: #0182ff;
  }
  
  /* #save{
    background-color: #0182ff;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 3%;
    font-size: 20px;
  } */

  /* #del{
    background-color: #0182ff;
    color: white;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 6px;
    padding-bottom: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 20px;
  } */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 11%;
    margin-left: 30%;
    margin-right: 30%;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  form{
    margin-left: 12%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 17px;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }