*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    height: 130px;
    width: 1500px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.9px;
    z-index: 2;
    color: white;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

#nav a {
    text-decoration: none;
    color: black;
    padding: 6px 15px;
}

#h{
    background-color: #0182ff;
    border-radius: 5px;
    padding: 7px 20px;
    color: white;
    position: fixed;
   left: 46%;
   top: 5.6%;
}
#nav a:hover {
    background-color: #0182ff;
    color: white;
    display: inline;
    padding: 6px 15px;
    border-radius: 5px;
}

#head_logo {
    height: 90px;
    width: 120px;
    background-color: white;
    margin: 10px 0 10px 80px;
}
.head_line {
    position: absolute;
    top: 35%;
    left: 25%;
    color: white;
    line-height: 60px;
}

h1 {
    margin-left: 100px;
    font-family: 'Unbounded', cursive;
}

h2 {
    /* word-spacing: 1px; */
    margin-left: 15%;
}

#search a {
    text-decoration: none;
}

h3#map {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    margin-left: 49%;
    padding: 1px 2px 35px 15px;
    background-color: black;
    font-size: 25px;
    animation-name: blink;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

h3#map:hover {
    color: #000000;
    background-color: white;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color: #696969;
    background-image: url("../images/background1.png");
    background-blend-mode: multiply;
    height: 700px;
    width: 1508px;
    margin-left: -1%;
    margin-right: 0%;
    position: absolute;
    top: 17%;
} 
#cot{
    margin-top: -5%;
    font-size: 25px;
    margin-left: 55%;
    line-height: 80px;
    color: white;
}
.ct{
    border: 2px solid black;
    background-image: url(../images/pk.jpg);
    background-blend-mode: multiply;
    background-color: #325178;
    height: 10%;
    padding: 10%;
    width: 79.7%;
    margin-top: 65%;
    margin-left: 0%;
    margin-bottom: -10%;
}
#gif1{
    height: 35%;
    width: 30%;
    left: 5%;
    top: 125%;
    position: absolute;
    border-radius: 5px;
}
#q{
    margin-left: 73%;
    margin-top: 30%;
    margin-bottom: -14%;
    font-size: 27px;
}
#qt{
    margin-left: 65%;
    margin-top: 15%;
    position: absolute;
}
#faq{
    position: absolute;
    width: 70%;
    margin-top: -1%;
    margin-left: 9%;
    margin-bottom: 5%;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .active, .accordion:hover{
    background-color: #ccc;
  }
  .panel {
    padding: 12px 8px;
    width: 60%;
    background-color: white;
    display: none;
    overflow: hidden;
  }
#cont{
    margin-top: -5%;
    font-size: 25px;
    margin-left: -5%;
    line-height: 70px;
    color: white;
}
.fq{
    background-color: #1d3655;
    border: 2px solid black;
    height: 40%;
    padding: 10%;
    width: 79.5%;
    margin-top: -25%;
}
#gif2{
    height: 20%;
    width: 30%;
    margin-left: 64%;
    margin-top: 40%;
    margin-bottom: -3%;
    border-radius: 5px;
}
img#rt{
    height: 40%;
    width: 90%;
    margin-left: 7%;
    margin-top: 10%;
}
h3#tpic{
    font-size: 35px;
    margin-left: 27%;
    color: white;
    position: absolute;
    margin-top: 13%;
    
}
.bimg{
    background-image: url("../images/park.jpg");
    background-blend-mode: multiply;
    background-color: #325178;
    height: 550px;
    width: 1505px;
    margin-left: -1%;
    margin-top: 10%;
}
div#fdbx{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 13%;
    margin-top: -6%;
    background-color: #f5f7f6;
    padding: 2%;
    padding-bottom: 8%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
#feedname{
    height: 30px;
}
#phone{
    height: 50%;
    width: 40%;
    margin-top: 1%;
}
button#btn{
    margin-left: 28%;
    position: absolute;
    /* top: 270%; */
    margin-top: -6%;
    padding: 5px 10px;
}
#foot{
    margin-top: 10%;
    background-color: #0d1e38;
    padding: 3%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#flogo{
    height: 60%;
    width: 32%;
}
#contact{
    margin-left: -35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#flt{
    height: 60%;
    width: 20%;
}
#ct{
    float: right;
    margin-left: -10%;
}
h5#ftc{
    float: right;
    margin-top: -29%;
    margin-left: -50%;
}
h5#fc{
    float:right;
    margin-top: -47%;
}
#ftnav{
    display: flex;
    flex-direction: column;
}
#blk{
    background-color: black;
    border: 2px solid black;
    padding: 2%;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    color: #000000, #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: black;
} 