body{
    font-size: 20px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #0d131f;
    position: fixed;
    top: 0;
    left: 0;
    right: 7.5px;
    z-index: 2;
}
#head_logo {
    height: 90px;
    width: 120px;
    background-color: #0d131f;
    margin: 10px 0 10px 80px;
}
#nav a{
    text-decoration: none;
    color: white;
    padding: 6px 15px;
}
#nav a:hover{
    background-color: #0182ff;
    color: white;
    display: inline;
    padding: 6px 15px;  
    border-radius: 5px;
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-right: 80px;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 2px;
}
#tick{
    height: 300px;
}
.request{
    margin-top: 200px;
    margin-left: 40%;
    margin-bottom: 120px;
}
h1{
    margin-left: -10%;
}
h3{
    margin-left: -20%;
}
#foot{
    margin-top: 10%;
    background-color: #0d1e38;
    padding: 3%;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#flogo{
    height: 60%;
    width: 32%;
}
#contact{
    margin-left: -35%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#flt{
    height: 60%;
    width: 20%;
}
#ct{
    float: right;
    margin-left: -10%;
}
h5#ftc{
    float: right;
    margin-top: -29%;
    margin-left: -50%;
}
h5#fc{
    float:right;
    margin-top: -47%;
}
#ftnav{
    display: flex;
    flex-direction: column;
}
#blk{
    background-color: black;
    border: 2px solid black;
    padding: 2%;
}